<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Form.css" />
    <title>Document</title>
  </head>
  <body>
    <form
      class="contact"
      action="https://formspree.io/f/mlezwjvj"
      method="post"
    >
      <h1>My React Form</h1>
      <select name="Salutation" id="salut" class="sInput salut">
        <option value="Miss">Ms.</option>
        <option value="Mister">Mr.</option>
      </select>
      <input
        type="text"
        name="Name"
        id="name"
        minlength="3"
        required
        placeholder="First name"
        class="sInput fName"
      />
      <input
        type="text"
        name="Name"
        id="name"
        minlength="3"
        required
        placeholder="Last name"
        class="sInput lName"
      />

      <input
        type="email"
        name="Email"
        id="email"
        required
        placeholder="Email"
        class="bInput email"
      />
      <input
        type="text"
        name="City"
        id="city"
        minlength="3"
        placeholder="City"
        class="mInput city"
      />
      <input
        type="text"
        name="County"
        id="country"
        minlength="3"
        placeholder="Country"
        required
        class="mInput country"
      />
      <input
        type="number"
        name="Dial Code"
        id="code"
        minlength="3"
        placeholder="Dial Code"
        class="mInput code"
      />
      <input
        type="number"
        name="Phone Nr."
        id="phone"
        minlength="5"
        placeholder="Phone Number"
        class="mInput phone"
      />
      <select name="Products" id="product" class="bInput product">
        <option value="">Fill the Product</option>
        <optgroup label="laptop">
          <option value="Mac">Macbook</option>
          <option value="Lenovo">Lenovo</option>
          <option value="HP">HP</option>
          <option value="IBM">IBM</option>
        </optgroup>
        <optgroup label="mobil">
          <option value="IPhone">IPhone</option>
          <option value="Xiaomi">Xiaomi</option>
          <option value="Nokia">Nokia</option>
          <option value="Samsumg">Samsung</option>
        </optgroup>
      </select>

      <input
        type="textarea"
        name="Comment"
        id="comment"
        placeholder="Additional Information"
        class="bInput info"
      />

      <input type="file" name="CV-File" id="cv" class="mInput cv" />
      <button class="submit">Submit</button>
    </form>
  </body>
</html>
